// GOOGLE FONTS
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
// VARIABLES
@import "./variables.scss";



// RESET/GENERAL

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Bebas Neue', cursive;
}

ul{
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
}

strong{
    color: $primaryBlack;
    
}

.wrapper{
    overflow-x: scroll;
    background-color: $primaryBlack;
    -webkit-overflow-scrolling:touch;
    
}




