// GOOGLE FONTS
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
// VARIABLES
@import "./variables.scss";



// RESET/GENERAL

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Bebas Neue', cursive;
    background-color: $primaryBlue;
}

ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

strong{
    color: $primaryBlack;
    font-size: 1.2em;
    
}





